<div class="container-fluid my-3">
    <h2>Visitor List</h2>
    <!-- <button class="btn btn-light btn-sm" (click)="setOpen(!open)">collapse</button> -->
    <button class="btn btn-success btn-sm" (click)="changePage('')"><i class="fa fa-arrow-left mr-2"></i> Back</button>

    <div class="row">
        <div [hidden]="open === false" class="col-md-3 p-3">
            <div class="card">
                <div class="p-3 card-body">
                    <h4>Search</h4>   
                    <form novalidate [formGroup]="searchForm" (ngSubmit)="onSearch()">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="medical_record" placeholder="Medical Record"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="cust_name" placeholder="Customer Name"/>
                        </div>
                        <button type="submit" class="btn-primary btn float-right">
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div [ngClass]="open ? 'col-9 p-3' : 'col-md-12 p-3'" class="card">
            <div class="p-3 card-body">
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Visitor List">
                        <div class="table-responsive">
        
                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource">
                              
                                  <ng-container matColumnDef="_id">
                                    <th mat-header-cell *matHeaderCellDef> No. </th>
                                    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="customer_name">
                                    <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.customer_name}} </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="pic">
                                    <th mat-header-cell *matHeaderCellDef> PIC </th>
                                    <td mat-cell *matCellDef="let element"> {{element.pic}} </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="region.name">
                                    <th mat-header-cell *matHeaderCellDef> Region </th>
                                    <td mat-cell *matCellDef="let element"> {{element.region.name}} </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="province.name">
                                    <th mat-header-cell *matHeaderCellDef> Province </th>
                                    <td mat-cell *matCellDef="let element"> {{element.province.name}} </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="city.name">
                                    <th mat-header-cell *matHeaderCellDef> City </th>
                                    <td mat-cell *matCellDef="let element"> {{element.city.name}} </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="remark">
                                    <th mat-header-cell *matHeaderCellDef> Remark </th>
                                    <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef> Action </th>
                                    <td mat-cell *matCellDef="let element"> 
                                        <button type="button" class="btn btn-primary btn-sm" (click)="onEdit(element._id)">
                                            <i class="fa fa-pencil"></i>
                                        </button>        
                                        <button mat-raised-button class="btn btn-success btn-sm ml-2" (click)="openDialog(element._id)">
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </td>
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                              
         
                                <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                                [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
                              </mat-paginator>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Queue">
                        <div class="table-responsive">
        
                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSourceQueue">
                              
                                  <ng-container matColumnDef="_id">
                                    <th mat-header-cell *matHeaderCellDef> No. </th>
                                    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="customer_name">
                                    <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.customer_name}} </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="queue">
                                    <th mat-header-cell *matHeaderCellDef> Queue </th>
                                    <td mat-cell *matCellDef="let element"> {{element.queue}} </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="medical_record">
                                    <th mat-header-cell *matHeaderCellDef> Medical Record </th>
                                    <td mat-cell *matCellDef="let element"> {{element.medical_record}} </td>
                                  </ng-container>
                              
                              
                                  <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef> Action </th>
                                    <td mat-cell *matCellDef="let element"> 
                                        <button type="button" class="text-white btn btn-warning btn-sm mx-2" (click)="openDialogQueuePrint(element.id_barcode)">
                                            <i class="fa fa-print"></i>
                                        </button>
                                    </td>
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="displayedColumnsQueue"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumnsQueue;"></tr>
                                </table>
                              
         
                            <mat-paginator #paginatorQueue [length]="totalRowsQueue" [pageIndex]="currentPageQueue" [pageSize]="pageSizeQueue"
                                [pageSizeOptions]="pageSizeOptionsQueue" (page)="pageChangedQueue($event)" aria-label="Select page">
                              </mat-paginator>
                            </div>
                        </div>
                    </mat-tab>
                  </mat-tab-group>
            </div>
        </div>

        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Modal title </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                ...
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>

    </div>
</div>
