.cards{
    width: 200px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #fff;
    font-weight: 800;
    font-size: 14px;
}

.primary{
    background: slateblue
}

.success{
    background: green
}

.warning{
    background: orange
}